# 이클립스 설정 파일
.metadata
.bin/
.tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# 이클립스 프로젝트 파일
.project
.classpath
.factorypath
ERD_diagram.png

# 빌드 결과물
bin/
/build/
target/