<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<resultMap id="myScheduleResultMap" type="com.letsgo.place.model.MyScheduleVO">
	<result property="myScheduleId" column="MY_SCHEDULE_ID" />
	<result property="myScheduleTitle" column="SCH_TITLE" />
	<result property="startAt" column="START_AT" />
	<result property="isShared" column="IS_SHARED" />
	<result property="placeTitle" column="PLACE_TITLE" />
	<result property="addr1" column="ADDR1" />
	<result property="firstImage" column="FIRST_IMAGE" />
</resultMap>

<sql id="scheduleColumns">
	s.MY_SCHEDULE_ID,
	s.TITLE AS SCH_TITLE,
	s.START_AT,
	s.IS_SHARED,
	p.TITLE AS PLACE_TITLE,
	p.ADDR1,
	p.FIRST_IMAGE,
	v.VISIT_ORDER
</sql>


<mapper namespace="MemberMapper">
	<select id="getMyScheduleListAllByDate" parameterType="String"
		resultType="myScheduleResultMap">
		SELECT
		<include refid="scheduleColumns" />
		FROM MY_SCHEDULE s
		JOIN VISIT_ITEM v ON s.MY_SCHEDULE_ID = v.SCHEDULE_ID
		JOIN PLACE p ON v.PLACE_ID = p.PLACE_ID
		WHERE s.USER_ID = #{userId}
		UNION
		SELECT
		<include refid="scheduleColumns" />
		FROM MY_SCHEDULE s
		JOIN VISIT_ITEM v ON s.MY_SCHEDULE_ID = v.SCHEDULE_ID
		JOIN PLACE p ON v.PLACE_ID = p.PLACE_ID
		JOIN SCHEDULE_SHARE_USER ssu ON s.MY_SCHEDULE_ID = ssu.MY_SCHEDULE_ID
		WHERE ssu.SHARED_USER_ID = #{userId}
		ORDER BY START_AT DESC, VISIT_ORDER ASC
	</select>

</mapper>
